<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs - Spokyfy Music Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/songs.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

</head>
<body>
<div th:replace="/fragments/header :: header"></div>

<div class="container">
    <div class="intro" sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/songs/add(albumId=${albumId})}" class="add-song-button">Add a New Song</a>
    </div>

    <div class="song-list">
        <div th:each="song : ${songs}" class="song-card">
            <img th:src="${song.previewUrl}" alt="Cover Image">
            <h2 th:text="${song.title}">Song Title</h2>
            <p>Duration: <span th:text="${song.duration}">Duration</span></p>
            <p>Price: $<span th:text="${song.price}">Price</span></p>
            <audio controls th:src="@{${song.audioFile}}">Your browser does not support the audio element.</audio>
         <div class="actions">
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/songs/edit(songId=${song.id})}" class="btn btn-warning">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/songs/delete(songId=${song.id})}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this song?');">
        <i class="fas fa-trash-alt"></i> Delete
    </a>
    <a th:href="@{'/shoppingCart/addProduct/{id}'(id=${song.id})}" class="btn btn-info" sec:authorize="isAuthenticated()">
        <i class="fas fa-cart-plus"></i> Add to Cart
    </a>
</div>
        </div>
    </div>
</div>

<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>